{% extends 'core/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $('.slider').bxSlider({
            mode: 'fade',//horizontal, vertical, fade
            auto: true,
            pause: 2000
        });
    });
</script>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

{% endblock %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">

{% block contenido %}

<div class="slider">
    <div>
        <img src=" {% static 'core/img/banner/banner01.png' %}" alt="">
    </div>
    <div>
        <img src=" {% static 'core/img/banner/banner02.png' %}" alt="">
    </div>
    <div>
        <img src=" {% static 'core/img/banner/banner03.png' %}" alt="">
    </div>
</div>
{% load humanize %}
<h2><b>&nbsp;&nbsp;Productos</b></h2>
<hr>
<div class="productos">
    {% for p in productos %}

    <div class="producto">
       

        <div class="contenedor_producto">
            {% if p.imagen %}
            

            <img src=" {{ p.imagen.url }}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <p
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    <b>{{ p.categoria | capfirst }}</b>
                </p>
                <h5>{{ p.nombre | title }}</h5>
                <h3>${{ p.precio | intcomma }}</h3>
            </div>

        </div>

    </div>
    


{% endfor %}
</div>


{% endblock %}